@keyframes ldio-zhcjs6apalt-r {
  0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
  0% { transform: scale(0.7000000000000001) rotate(180deg) }
  25% { transform: scale(0.7000000000000001) rotate(270deg) }
  50% { transform: scale(0.7000000000000001) rotate(360deg) }
  75% { transform: scale(0.7000000000000001) rotate(450deg) }
  100% { transform: scale(0.7000000000000001) rotate(540deg) }
}
@keyframes ldio-zhcjs6apalt-z {
  0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
  0% { transform: scale(1) }
  50% { transform: scale(1) }
  100% { transform: scale(.5) }
}
@keyframes ldio-zhcjs6apalt-p {
  0%, 50%, 100% { animation-timing-function: cubic-bezier(1,0,0,1) }
  0% { transform: scale(0) }
  50% { transform: scale(1) }
  100% { transform: scale(1) }
}
@keyframes ldio-zhcjs6apalt-c {
  0%, 25%, 50%, 75%, 100% { animation-timing-function: cubic-bezier(0,1,0,1) }
  0% { background: #e15b64 }
  25% { background: #f47e60 }
  50% { background: #f8b26a }
  75% { background: #abbd81 }
  100% { background: #e15b64 }
}
.ldio-zhcjs6apalt > div {
  animation: ldio-zhcjs6apalt-r 4s linear infinite;
  transform-origin: 50px 50px;
}
.ldio-zhcjs6apalt > div > div {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: ldio-zhcjs6apalt-z 1s linear infinite;
  transform-origin: 100px 100px;
}
.ldio-zhcjs6apalt > div > div div {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #e15b64;
  transform-origin: 25px 25px
}
.ldio-zhcjs6apalt > div > div div:nth-child(1) {
  left: 0px;
  top: 0px;
  animation: ldio-zhcjs6apalt-p 1s linear infinite, ldio-zhcjs6apalt-c 4s linear infinite;
}
.ldio-zhcjs6apalt > div > div div:nth-child(2) {
  left: 50px;
  top: 0px;
  animation: ldio-zhcjs6apalt-p 1s linear infinite, ldio-zhcjs6apalt-c 4s linear infinite;
}
.ldio-zhcjs6apalt > div > div div:nth-child(3) {
  left: 0px;
  top: 50px;
  animation: ldio-zhcjs6apalt-p 1s linear infinite, ldio-zhcjs6apalt-c 4s linear infinite;
}
.ldio-zhcjs6apalt > div > div div:nth-child(4) {
  left: 50px;
  top: 50px;
  transform: scale(1);
  animation: ldio-zhcjs6apalt-c 4s linear infinite
}
.loadingio-spinner-chunk-is6qrlka5n9 {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: aliceblue;
}
.ldio-zhcjs6apalt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zhcjs6apalt div { box-sizing: content-box; }
